@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: #fff;
  --gray: #333;
  --green: #00b400;
  --secondary_font: "Space Grotesk", sans-serif;
}

/* Customize scrollbar for WebKit-based browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--gray);
}

::-webkit-scrollbar-thumb {
  background: var(--white);
}

/* Customize scrollbar for Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: var(--white) var(--gray);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 20px;
  border: 3px solid var(--gray);
}

body::-webkit-scrollbar-track {
  background-color: var(--gray);
}

body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background: var(--black);
  color: var(--white);
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  cursor: pointer;
}

a:visited {
  color: var(--white);
}

.main {
  width: 100vw;
}

.navbar {
  width: 100vw;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  background: transparent;
  border-bottom: 1px solid #ffffff26;
  color: var(--white);
  transition: 1s ease;
  z-index: 1000;
}

.navbar .logo,
.nav-right {
  font-size: 1.5rem;
  font-weight: 600;
}

.logo span {
  font-size: 2rem;
  color: var(--green);
  font-weight: bolder;
}

.nav-right {
  cursor: pointer;
}

.nav-center {
  width: 30%;
  margin: auto;
  text-align: center;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-link a:hover {
  color: var(--green);
  transition: 0.3s ease;
}

.swiper {
  width: 100vw;
  height: 120vh;
  min-height: 102vh;
}

.swiper img {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slider-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.slider-text {
  width: 600px;
  position: absolute;
  top: 35%;
  left: 10%;
  /* transform: translate(-50%, -50%); */
  text-transform: capitalize;
  z-index: 2;
}

.slider-text h1 {
  font-family: var(--secondary_font);
  font-weight: bold;
  margin: 0 0 25px 0;
  font-size: 90px;
  line-height: 1;
  transition: 0.7s ease;
}

.slider-text h1:hover {
  color: var(--green);
  cursor: pointer;
}

.slider-text p {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 36px 0;
  font-size: 18px;
}

.movie-release {
  position: absolute;
  top: 20%;
  right: 32%;
  z-index: 2;
}

.movie-release .time {
  position: relative;
  margin: 0%;
  font-size: 30px;
  line-height: 1.2;
}

.movie-release .time::after {
  content: "";
  position: absolute;
  left: -5px;
  bottom: -20px;
  width: 110%;
  height: 15px;
  background-image: url(./images/underline-heading-entire.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}

.btn {
  outline: none;
  border: none;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 5px;
  background: var(--green);
  font-size: 15px;
  font-weight: 300;
  transition: 0.5s ease;
}

.btn:hover {
  background: var(--white);
  cursor: pointer;
}

.btn:hover a {
  transition: 0ms;
  color: var(--black);
}

.hero-end {
  position: absolute;
  /* bottom: -30%; */
  left: 0%;
  right: 0%;
  width: 100%;
  color: var(--white);
  background: var(--green);
  z-index: 1;
  text-align: center;
  padding: 26px 0px;
}

.hero-end p {
  font-size: 20px;
  font-weight: 300;
}

.hero-end p a {
  text-decoration: underline;
}

.mob-nav {
  display: none;
}

#mob-nav-btn {
  color: var(--green);
}

.explore {
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  height: 200vh;
  background: var(--white);
  color: var(--black);
  padding-top: 100px;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .navbar {
    padding: 1rem;
    display: none;
  }

  .nav-link {
    font-size: 1rem;
  }

  .swiper img {
    object-position: left;
  }

  .slider-text {
    width: 80%;
    left: 10%;
  }

  .slider-text p {
    font-size: 17px;
  }

  .slider-text h1 {
    font-size: 50px;
  }

  .movie-release {
    top: 15%;
    right: 25%;
  }

  .hero-end p {
    font-size: 0.8rem;
  }

  /* Tablet styles */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .navbar {
      padding: 1.5rem;
    }

    .nav-link {
      font-size: 1.1rem;
    }

    .slider-text {
      width: 70%;
      left: 15%;
    }

    .movie-release {
      top: 18%;
      right: 28%;
    }

    .swiper img {
      object-position: left;
    }
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    display: none;
  }

  .mob-nav {
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    padding: 1.5rem 2.5rem;
    top: 0%;
    left: 0%;
    right: 0%;
    background: transparent;
    border-bottom: 1px solid var(--gray);
    display: flex;
    /* vertical-align: middle; */
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    transition: 1s ease;
  }

  .mob-nav-right {
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    width: 15%;
    display: flex;
    justify-content: space-between;
  }

  .swiper img {
    object-position: 55% center;
  }
}

/* nav style for js, leave at bottom always*/
.nav-bg {
  background: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0%;
}

/*  */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  /* -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px); */
  background: var(--black);
  opacity: 0.8;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 1s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 20px;
  color: var(--white);
  display: block;
  transition: 0.5s;
}

.sidenav a:hover {
  color: var(--green);
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .mob-nav-right {
    width: 30%;
  }
}
